@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pokemon";
  src:
    local("Pokemon_Solid"),
    url("./assets/fonts/Pokemon/Pokemon_Solid.ttf") format("truetype");
}

.pokemon {
  font-family: "Pokemon", sans-serif; /* Fallback for missing font */
}
